{% extends 'base.html.twig' %}

{% block title %}Hosted Comics{% endblock %}

{% block body %}

<div class="col p-3">
        <h1>Approve Comics</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>&nbsp</th>
                    <th>Comic</th>
                    <th>Author</th>
                    <th># Images</th>
                </tr>
            </thead>
            <tbody>
                {% for comic in comics %}
                    <tr>
                        <td><a class="btn {% if comic.approved %}btn-primary{% else %}btn-outline-primary{% endif %}" href="{{ url('app_togglecomicapprove', { id: comic.id}) }}"><i class="fas fa-check"></i></a></td>
                        <td>{{ comic.name }}</td>
                        <td>{% if comic.user.Name %}{{ comic.user.Name }}{% else %}{{ comic.user.email }}{% endif %}</td>
                        <td>
                            {% if comic.images|length == 0 %}
                                <i class="fas fa-close text-danger"></i>
                            {% else %}
                                <i class="fas fa-image"></i> {{ comic.images|length }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block sidebar %}
    {% include "common/sidebar.html.twig" %}
{% endblock %}

