{% extends 'base.html.twig' %}

{% block title %}Manage Media{% endblock %}

{% block body %}
<div class="container">
    <div class="card col p-3 mt-5 panel" id="c4-comic-admin">
        <div class="row mb-3">
            <div class="col">
                <h1>Manage Media</h1>
            </div>
        </div>
        <div class="row mb-3  border-bottom">
            <div class="col mb-3">
                <form method="POST" enctype="multipart/form-data" action="{{ url('app_uploadmedia') }}">
                    <label for="media_image_upload_new" class="btn btn-primary"><i class="fas fa-upload"></i> New Image</label>
                    <input id="media_image_upload_new" class="hidden-file-input"  type="file" name="imagefile" onchange="form.submit()" value="Upload File" />
                </form>
            </div>
        </div>

    {% for file in files %}
        <div class="row">
            <div class="col-3"><img src="{{ file.path }}" class="img-fluid" alt="{{ file.file }}"></div>
            <div class="col">{{ file.file }}</div>
            <div class="col-3">{{ file.upload }}</div>
            <div class="col-1"><a class="btn btn-danger" href="{{ url('app_deletemedia', { file: file.file }) }}"><i class="fas fa-trash"></i></a></div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}


{% block sidebar %}
    {% include "common/sidebar.html.twig" %}
{% endblock %}