<div class="col mt-5" >

    <div class="row panel p-3" id="user-sidebar">
        <div class="row">
            <div class="col nav-expanded"><h5>Hello {{ app.user.name }}</h5></div>
        </div>

        <div class="row ps-3 mb-2">
            <div class="col-2 ms-2 me-4"><a href="{{ url('app_dashboard') }}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Dashboard"><i class="fas fa-home"></i></a></div>
            <div class="col nav-expanded"><a href="{{ url('app_dashboard') }}" class="nav-link">Dashboard</a></div>
        </div>


        <div class="row ps-3 mb-2">
            <div class="col-2 ms-2 me-4"><a href="{{ url('app_account') }}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Account Details"><i class="fas fa-user"></i></a></div>
            <div class="col nav-expanded"><a href="{{ url('app_account') }}" class="nav-link">Account</a></div>
        </div>

        <div class="row ps-3 mb-2">
            <div class="col-2 ms-2 me-4"><a href="{{ url('app_forgot_password_request') }}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Reset Password"><i class="fas fa-key"></i></a></div>
            <div class="col nav-expanded"><a href="{{ url('app_forgot_password_request') }}" class="nav-link">Reset Password</a></div>
        </div>
        {% if settings.get('bug_tracking').value is not empty %}
        <div class="row ps-3 mb-2">
            <div class="col-2 ms-2 me-4"><a href="{{ settings.get('bug_tracking').value }}" target="_blank" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Bugs & Feature Requests"><i class="fas fa-bug"></i></a></div>
            <div class="col nav-expanded"><a href="{{ settings.get('bug_tracking').value }}" target="_blank" class="nav-link">Bug & Feature Requests</a></div>
        </div>
        {% endif %}
        <div class="row ps-3 mb-2">
            <div class="col-2 ms-2 me-4"><a href="{{ url('app_logout') }}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Logout"><i class="fas fa-right-from-bracket"></i></a></div>
            <div class="col nav-expanded"><a href="{{ url('app_logout') }}" class="nav-link">Logout</a></div>
        </div>




        {% if is_granted('ROLE_ADMIN') %}
            {% set carouselActive = settings.get('enable_carousel').value is not empty %}
            {% set hotboxActive = settings.get('enable_hotbox').value is not empty %}
            {% set webringActive = settings.get('enable_webring').value is not empty %}
            <div class="row border-top mt-3 pt-3 "></div>
            <div class="row nav-expanded"><h5>Administration</h5></div>
            {% if  carouselActive  %}
                <div class="row nav-expanded"><h6>Carousels</h6></div>
                {% for cr in hotboxservice.carousels %}
                    <div class="row ps-3 mb-2">
                        <div class="col-2 ms-2 me-4">
                            <a href="{{ url('app_editcarousel', { id: cr.id}) }}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Manage Carousel">
                                <i class="fas fa-horse-head"></i>
                            </a>
                        </div>
                        <div class="col nav-expanded"><a href="{{ url('app_editcarousel', { id: cr.id}) }}" class="nav-link">{{ cr.name }}</a></div>
                    </div>
                {% endfor %}
                <div class="row ps-3 mb-4">
                    <div class="col-2 ms-2 me-4"><a href="{{ url('app_createcarousel') }}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="New Carousel"><i class="fas fa-horse"></i></a></div>
                    <div class="col nav-expanded"><a href="{{ url('app_createcarousel') }}" class="nav-link">New Carousel</a></div>
                </div>

            {% endif %}
            {% if hotboxActive  %}
                <div class="row nav-expanded"><h6>HotBoxes</h6></div>

                {% for hb in hotboxservice.hotboxes %}
                    <div class="row ps-3 mb-2">
                        <div class="col-2 ms-2 me-4">
                            <a href="{{ url('app_edithotbox', { id: hb.id}) }}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Manage Boxes">
                                {% if hb.needsAttention %}
                                    <span class="fa-layers fa-fw ">
                                        <i class="fas fa-box"></i>
                                        <i class="fa-solid fa-circle-exclamation fa-bounce text-danger" data-fa-transform="shrink-4 right-8"></i>

                                    </span>
                                {% else %}
                                    <i class="fas fa-box"></i>
                                {% endif %}
                            </a>
                        </div>
                        <div class="col nav-expanded"><a href="{{ url('app_edithotbox', { id: hb.id}) }}" class="nav-link">{{ hb.name }}</a></div>
                    </div>
                {% endfor %}
                <div class="row ps-3 mb-4">
                    <div class="col-2 ms-2 me-4"><a href="{{ url('app_createhotbox') }}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="New HotBox"><i class="fas fa-box-open"></i></a></div>
                    <div class="col nav-expanded"><a href="{{ url('app_createhotbox') }}" class="nav-link">New HotBox</a></div>
                </div>
            {% endif %}
            {% if webringActive %}
                <div class="row nav-expanded"><h6>WebRings</h6></div>
                {% for wr in hotboxservice.webrings %}
                    <div class="row ps-3 mb-2">
                        <div class="col-2 ms-2 me-4">
                            <a href="{{ url('app_editwebring', { id: wr.id}) }}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Manage Webrings">
                                    <i class="far fa-circle-right"></i>
                            </a>
                        </div>
                        <div class="col nav-expanded"><a href="{{ url('app_editwebring', { id: wr.id}) }}" class="nav-link">{{ wr.name }}</a></div>
                    </div>
                {% endfor %}
                <div class="row ps-3 mb-4">
                    <div class="col-2 ms-2 me-4"><a href="{{ url('app_createwebring') }}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="New webring"><i class="fas fa-ring"></i></a></div>
                    <div class="col nav-expanded"><a href="{{ url('app_createwebring') }}" class="nav-link">New Webring</a></div>
                </div>
            {% endif %}
            <div class="row nav-expanded"><h6>Users</h6></div>
            <div class="row ps-3 mb-2">
                <div class="col-2 ms-2 me-4"><a href="{{ url('app_manageuser') }}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Invite Users"><i class="fas fa-users"></i></a></div>
                <div class="col nav-expanded"><a href="{{ url('app_manageuser') }}" class="nav-link">Manage Users</a></div>
            </div>

            <div class="row ps-3 mb-2">
                <div class="col-2 ms-2 me-4"><a href="{{ url('app_admininviteusers') }}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Invite Users"><i class="fas fa-user-plus"></i></a></div>
                <div class="col nav-expanded"><a href="{{ url('app_admininviteusers') }}" class="nav-link">Invite Users</a></div>
            </div>

            <div class="row nav-expanded"><h6>Approvals</h6></div>

            {% set comicCount = settings.get('comics_pending').value %}
            {% set imageCount = settings.get('images_pending').value %}
            <div class="row ps-3 mb-2">
                <div class="col-2 ms-2 me-4">
                    <a href="{{ url('app_adminapprovecomic') }}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Approve Comics">
                        {% if  comicCount > 0 %}
                            <span class="fa-layers fa-fw ">
                                <i class="fas fa-certificate"></i>
                                <i class="fa-solid fa-circle-exclamation fa-bounce text-danger" data-fa-transform="shrink-4 right-8"></i>
                            </span>
                        {% else %}
                            <i class="fas fa-certificate"></i>
                        {% endif %}
                    </a>
                </div>
                <div class="col nav-expanded"><a href="{{ url('app_adminapprovecomic') }}" class="nav-link">Approve Comics</a></div>
            </div>
            <div class="row ps-3 mb-2">
                <div class="col-2 ms-2 me-4">
                    <a href="{{ url('app_adminapproveimages') }}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Approve Images">
                        {% if  imageCount > 0 %}
                            <span class="fa-layers fa-fw ">
                                <i class="fas fa-file"></i>
                                <i class="fa-solid fa-circle-exclamation fa-bounce text-danger" data-fa-transform="shrink-4 right-8"></i>
                            </span>
                        {% else %}
                            <i class="fas fa-file"></i>
                        {% endif %}

                    </a>
                </div>
                <div class="col nav-expanded"><a href="{{ url('app_adminapproveimages') }}" class="nav-link">Approve Images</a></div>
            </div>

            <div class="row nav-expanded"><h6>Settings</h6></div>

            <div class="row ps-3 mb-2">
                <div class="col-2 ms-2 me-4"><a href="{{ url('app_settings') }}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Site Settings">
                        {% if not carouselActive and not hotboxActive and not webringActive %}
                            <span class="fa-layers fa-fw ">
                                <i class="fas fa-gears"></i>
                                <i class="fa-solid fa-circle-exclamation fa-bounce text-danger" data-fa-transform="shrink-4 right-8"></i>
                            </span>
                        {% else %}
                            <i class="fas fa-gears"></i>
                        {% endif %}


                    </a></div>
                <div class="col nav-expanded"><a href="{{ url('app_settings') }}" class="nav-link">Manage Settings</a></div>
            </div>
            <div class="row ps-3 mb-2">
                <div class="col-2 ms-2 me-4"><a href="{{ url('app_managemedia') }}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Media Manager"><i class="fas fa-image"></i></a></div>
                <div class="col nav-expanded"><a href="{{ url('app_managemedia') }}" class="nav-link">Manage Media</a></div>
            </div>

        {% endif %}

        <div class="row border-top mt-3 pt-3 "></div>
        <div class="row nav-expanded"><h5>My Stuff</h5></div>
        {% for comic in app.user.comics %}
            <div class="row ps-3 mb-2">
                <div class="col-2 ms-2 me-4">
                    <a href="{{ url('app_editcomic', { id: comic.id}) }}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ comic.name }}"><i class="fas fa-book"></i></a>
                </div>
                <div class="col nav-expanded"><a href="{{ url('app_editcomic', { id: comic.id}) }}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="comic.name">{{ comic.name }}</a></div>
            </div>
        {% endfor %}
        <div class="row ps-3 mb-2">
            <div class="col-2 ms-2 me-4">
                <a href="{{ url('app_newcomic') }}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="New Comic"><i class="fas fa-plus"></i></a>
            </div>
            <div class="col nav-expanded"><a href="{{ url('app_newcomic') }}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="New Comic">New Comic</a></div>
        </div>


        <div class="row border-top mt-3 pt-3 "></div>
        <div class="row ps-3 mb-2">
            <div class="col-2 ms-2 me-4">
                <a href="{{ url('app_credits') }}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Acknowledgements"><i class="fas fa-people-group"></i></a>
            </div>
            <div class="col nav-expanded"><a href="{{ url('app_credits') }}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Credits">Credits</a></div>
        </div>

    </div>
</div>