{% extends 'base.html.twig' %}

{% block title %}HotBox Dashboard{% endblock %}

{% block body %}
    <div class="col  p-3" id="hb-createupdate-hotbox">
        <div class="row mb-3 border-bottom">
            <h1 class="mb-3">Welcome to {{ settings.get('server_name').value }}</h1>
        </div>
        <div class="row">
            <div class="col border-right">
                <div class="row mb-2">
                    <h4>Details</h4>
                </div>
                <div class="row mb-2">
                    <div class="col-4"><b>Owner:</b></div>
                    <div class="col">{{ settings.get('server_owner').value }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-4"><b>Url:</b></div>
                    <div class="col">{{ settings.get('server_url').value }}</div>
                </div>
                <div class="row pt-3 mb-2 mt-2 border-top">
                    <h3>Services</h3>
                </div>
                {% set allowedHotbox = 0 %}
                {% if settings.get('enable_carousel').value %}
                    <div class="row mb-2">
                        <div class="col mb-3">
                            This server has {{ carousels|length }} active carousels{% if carousels|length > 0 %}, the following ad resolutions are
                            supported:{% endif %}
                        </div>
                        {% for carousel in carousels %}
                            <div class="row mb-2">
                                <div class="col-3 text-end"><b>{{ carousel.name }}:</b></div>
                                <div class="col">{{ carousel.width }} x {{ carousel.height }}</div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if settings.get('enable_hotbox').value %}
                        <div class="row mb-2">
                            <div class="col mb-3">
                                This server has {{ hotboxes|length }} active hotboxes{% if hotboxes|length > 0 %}, the following ad resolutions are
                                supported:{% endif %}
                            </div>
                        </div>
                    {% for hotbox in hotboxes %}
                        {% if hotbox.getUserAllowed(app.user) %}
                            {% set allowedHotbox = allowedHotbox + 1 %}
                        {% endif %}
                        <div class="row mb-2">
                            <div class="col-3 text-end"><b>{{ hotbox.name }}:</b></div>
                            <div class="col">{{ hotbox.imageWidth }} x {{ hotbox.imageHeight }}</div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if settings.get('enable_webring').value %}
                    <div class="row mb-2">
                        <div class="col mb-3">
                            This server has {{ webrings|length }} active webrings{% if webrings|length > 0 %}, the following ad resolutions are
                            supported:{% endif %}
                        </div>
                        {% for webring in webrings %}
                            <div class="row mb-2">
                                <div class="col-3 text-end"><b>{{ webring.name }}:</b></div>
                                <div class="col">{{ webring.ringWidth }} x {{ webring.ringHeight }} [ Image Size: {{ ((webring.ringWidth - (2*webring.navigationWidth))/webring.numberImages) }} x {{ webring.ringHeight }} ]</div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="row pt-3 mb-2 mt-2 border-top">
                    <h4>Installation</h4>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        In your website's code, include the following Javascript line:<br/>
                        <code id="copytext-script">&lt;script language="Javascript"
                            src="{{ settings.get('server_url').value }}/hotbox.js" crossorigin="anonymous"&gt;&lt;/script&gt;</code>
                        <button class="btn btn-sm btn-primary copytext-button" data-target="copytext-script"
                                title="Copy to Clipboard"><i class="fas fa-copy"></i></button>
                    </div>
                </div>
                {% if settings.get('enable_carousel').value %}
                    <h4>Carousels</h4>
                    {% if carousels|length == 0 %}
                    {% else %}
                        <div class="row mb-3">
                            <div class="col">
                                Insert this piece of code where you want your Carousel:
                            </div>
                        </div>
                        {% for carousel in carousels %}
                            <div class="row mb-2">
                                <div class="col-3 offset-1"><b>{{ carousel.name }}:</b></div>
                                <div class="col"><code id="copytext-car-{{ carousel.id }}">&lt;div class="hb-carousel"
                                        data-carousel="{{ carousel.code }}"&gt;&lt;/div&gt;</code>
                                    <button class="btn btn-sm btn-primary copytext-button"
                                            data-target="copytext-car-{{ carousel.id }}" title="Copy to Clipboard"><i
                                                class="fas fa-copy"></i></button>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                {% endif %}
                {% if settings.get('enable_hotbox').value %}
                    <h4>Hot Boxes</h4>
                    {% if hotboxes|length == 0 %}
                        <div class="row mb-2">
                            <div class="col">
                                <h5>Uh oh</h5>
                                Currently you do not have any comics assigned to a hotbox. Please upload comic images and
                                contact the server administrator to be added to a rotation.
                            </div>
                        </div>
                    {% else %}
                        <div class="row mb-3">
                            <div class="col">
                                Insert this piece of code where you want your HotBox:
                            </div>
                        </div>
                        {% for hotbox in hotboxes %}
                                <div class="row mb-2">
                                    <div class="col-3 offset-1"><b>{{ hotbox.name }}:</b></div>
                                    <div class="col"><code id="copytext-hb-{{ hotbox.id }}">&lt;div class="hb-hotbox"
                                            data-hotbox="{{ hotbox.code }}"&gt;&lt;/div&gt;</code>
                                        <button class="btn btn-sm btn-primary copytext-button"
                                                data-target="copytext-hb-{{ hotbox.id }}" title="Copy to Clipboard"><i
                                                    class="fas fa-copy"></i></button>
                                    </div>

                                </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if settings.get('enable_webring').value %}
                    <h4>Webrings</h4>
                    {% if webrings|length == 0 %}
                    {% else %}
                        <div class="row mb-3">
                            <div class="col">
                                Insert this piece of code where you want your Webring:
                            </div>
                        </div>
                        {% for webring in webrings %}
                            <div class="col"><h5>{{ webring.name }}:</h5></div>
                            {% for comic in comics %}
                                {% if webring.comicMatch(comic) %}
                                    <div class="row mb-2">
                                        <div class="col-3 offset-1"><b>{{ comic.name }}:</b></div>
                                        <div class="col"><code id="copytext-wr-{{ webring.id }}-{{ comic.id }}">&lt;div class="hb-webring"
                                                data-webring="{{ webring.code }}" data-comic="{{ comic.code }}"&gt;&lt;/div&gt;</code>
                                            <button class="btn btn-sm btn-primary copytext-button"
                                                    data-target="copytext-wr-{{ webring.id }}-{{ comic.id }}" title="Copy to Clipboard"><i
                                                        class="fas fa-copy"></i></button>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                {% endif %}


                <div class="row pt-3 mb-2 border-top">
                    <h4>My Upcoming Displays</h4>
                </div>
                {% for hotbox in hotboxes %}
                    {% if hotbox.getUserRotations(app.user)|length > 0 %}
                        <div class="row mb-2">
                            <div class="col"><h5>{{ hotbox.name }}:</h5></div>
                        </div>
                        {% for rotation in hotbox.getUserRotations(app.user) %}
                            <div class="row mb-2">
                                <div class="col-4 offset-1"><b>{{ rotation.comic.Name }}:</b></div>
                                <div class="col rotation-schedule">
                                    {% if hotbox.rotationFrequency == 'Hour' %}
                                        {% set sDate = rotation.start|date("H:i") %}
                                        {% set eDate = rotation.expire|date("H:i") %}
                                    {% elseif hotbox.rotationFrequency == 'Minute' %}
                                        {% set sDate = rotation.start|date("H:i") %}
                                        {% set eDate = rotation.expire|date("H:i") %}
                                    {% elseif hotbox.rotationFrequency == '15 Minutes' %}
                                        {% set sDate = rotation.start|date("H:i") %}
                                        {% set eDate = rotation.expire|date("H:i") %}
                                    {% elseif hotbox.rotationFrequency == 'Month' %}
                                        {% set sDate = rotation.start|date("Y-m") %}
                                        {% set eDate = rotation.expire|date("Y-m") %}
                                    {% else %}
                                        {% set sDate = rotation.start|date("Y-m-d") %}
                                        {% set eDate = rotation.expire|date("Y-m-d") %}
                                    {% endif %}
                                    {{ sDate }} to {{ eDate }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
