{% extends 'base.html.twig' %}

{% block title %}Update User{% endblock %}

{% block body %}
<div class="col align-items-center justify-content-center pt-5">
    <div class="col-10" id="register-staff-screen">
        <div class="row">
            <div class="col border p-3">
                <div class="row mb-3">
                    <div class="col">
                        <h1 class="h3 mb-3 font-weight-normal">Create/Update Comic</h1>
                    </div>
                </div>

                {{ form_start(userform) }}

                <div class="row mb-2">
                    {{ form_label(userform.name) }}
                    <div class="col">{{ form_widget(userform.name) }}</div>
                </div>
                <div class="row mb-2">
                    {{ form_label(userform.email) }}
                    <div class="col">{{ form_widget(userform.email) }}</div>
                </div>
                <div class="row mb-2">

                    {{ form_label(userform.roles) }}
                    <div class="col ">
                        {% if "ROLE_OWNER" in userform.roles.vars.data %}
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-crown"></i> Owner
                                </div>
                            </div>

                        {% endif %}

                        {% set cho = 0 %}
                    {% for choice in userform.roles.vars.choices %}
                        <div class="row ms-0">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{ choice.value }}" {{ choice.value in userform.roles.vars.data ? 'checked' : '' }} id="{{ userform.roles.vars.id }}_{{cho}}" name="{{ userform.roles.vars.id }}[{{cho}}]" />
                                <label class="form-check-label" for="{{ userform.roles.vars.id }}_{{cho}}">{{ choice.label }}</label>
                            </div>
                            {% set cho = cho+1 %}
                        </div>
                        {% endfor %}
                        {% do userform.roles.setRendered() %}
                        <div class="row">
                            <div class="col">
                                <i class="fas fa-paint-roller"></i> Creator
                            </div>
                        </div>
                    </div>
                </div>

                {{ form_end(userform) }}

            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block sidebar %}
    {% include "common/sidebar.html.twig" %}
{% endblock %}