{% extends 'base.html.twig' %}

{% block title %}Create/Edit Comic{% endblock %}

{% block body %}
    <div class="col align-items-center justify-content-center pt-5">
        <div class="col-10" id="register-staff-screen">
            <div class="row">
                <div class="col border p-3">
                    <div class="row mb-3">
                        <div class="col">
                            <h1 class="h3 mb-3 font-weight-normal">Create/Update Comic</h1>
                        </div>
                        {% if comicform.vars.data.id is not empty %}
                            <div class="col-2 text-end"><a href="/comic/delete/{{ comicform.vars.data.id }}" class="btn btn-danger"><i class="fas fa-trash fa-2x"></i></a> </div>
                        {% endif %}
                    </div>

                    {{ form_start(comicform) }}
                    <div class="row mb-2">
                        {{ form_label(comicform.Name) }}
                        <div class="col">{{ form_widget(comicform.Name) }}</div>
                    </div>
                    <div class="row mb-2">
                        {{ form_label(comicform.url) }}
                        <div class="col">{{ form_widget(comicform.url) }}</div>
                    </div>
                    <div class="row mb-2">
                        {{ form_label(comicform.description) }}
                        <div class="col">{{ form_widget(comicform.description) }}</div>
                    </div>
                    {{ form_rest(comicform) }}
                    <button class="btn btn-lg btn-primary" type="submit">Update Comic</button>
                    {{ form_end(comicform) }}
                </div>
            </div>
            {% if comicform.vars.data.id is not empty %}
                <div class="row mt-5">
                    <div class="col border p-3">
                        <div class="row">
                            <h1 class="h3 mb-3 font-weight-normal">Comic images</h1>
                        </div>
                        <div class="row">
                            {% set blankslots = settings.imagelimit - images|length %}
                            {% for image in images %}
                                <div class="col-4">
                                    <div class="col text-center border p-3 m-1">
                                        <img src="{{ image.path }}" alt="{{ image.alttext }}"><br/>
                                        <form method="POST" enctype="multipart/form-data" action="/comic/uploadimage/{{ comicform.vars.data.id }}/{{ image.id }}">
                                            <input type="file" name="imagefile" onchange="form.submit()" value="Upload File" />
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                            {% for i in 1..blankslots %}
                                <div class="col-4">
                                    <div class="col text-center border p-3 m-1">
                                        <form method="POST" enctype="multipart/form-data" action="/comic/uploadimage/{{ comicform.vars.data.id }}">
                                            <input type="file" name="imagefile" onchange="form.submit()" value="Upload File" />
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block sidebar %}
    {% include "common/sidebar.html.twig" %}
{% endblock %}